#storeHead{
    padding: 16px;
    background: linear-gradient(to bottom, #153cfb, #153cfb);
    color: #ffffff;
    text-align: center;
}

#storeHead-admin{
    padding: 4px;
    background: linear-gradient(to bottom, #153cfb, #153cfb);
    color: #ffffff;
    text-align: center;
}

#storeHead-admin u{
  color: #ffffff;
}
#headerText span{
  text-shadow: 1px 1px 1px #0084ff;
}

.btn-primary{
     background: linear-gradient(to left, #153cfb, #153cfb); 
     border: 1px solid #ffffff;
}


.bg-primary-admin{
    background: linear-gradient(to top, #0577FF, #0577FF); 
}

.bg-primary{
    background: linear-gradient(to top, #0577FF, #0577FF); 
}


 .nav-item>a:hover {
            color: black;
            background-color: #ffffff;
        }
 .active {
            color: black;
            background-color: #ffffff;  
        }

.nav-item>a{
    padding: 5px;
    color: #ffffff;

}

#stores{
    
    background: white; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#stores-admin{
    background: linear-gradient(to bottom, pink, #3500D3); 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.store{
    color: black;
    height: 96%;
    border: 2px solid white;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px lightsteelblue; 
}

.Stimages{
    width: 100px;
    height: auto;
}

.Stbutton{
    background:  blue; 
    border-radius: 6px;
    border: 2px solid white;
    color: white;
    height: 40px;
}


#footer{
    padding: 16px;
    background: linear-gradient(to bottom, #190061, blue); 
    color: white;
    
}

#cart{
        background: linear-gradient(to bottom, #190061, blue); 

}

.cartitem{
     color: white;
    height: 96%;
    border: 5px solid white;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #190061, #0C0032); 

}

.paybutton{
    background: blue; 
    border-radius: 6px;
    border: 2px solid white;
    color: yellow;
    height: 40px;
    width: 120px;
}
.rmvbutton{
    background: linear-gradient(to bottom, blue, #190061); 
    border-radius: 6px;
    border: 2px solid white;
    color: red;
    height: 40px;
}

/* login and create user styles */

.home {
  background-image: url("../Assets/bgpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#username {
  width: 400px;
  height: 40px;
  background-color: #d3f1f3;
  border: none;
}
#pword {
  width: 400px;
  height: 40px;
  background-color: #d3f1f3;
  border: none;
}
#subBtn {
  background-color: #153cfb;
  color: #ffffff;
  width: 400px;
  height: 40px;
  border-color: #153cfb;
  font-size: large;
}
#createBtn {
  background-color: #ffffff;
  color: #153cfb;
  width: 400px;
  height: 40px;
  border-color: #153cfb;
  font-size: large;
}
#logBtn {
  background-color: #ffffff;
  color: #153cfb;
  width: 400px;
  height: 40px;
  border-color: #153cfb;
  font-size: large;
}

#box {
  background-color: rgba(255, 255, 255, 0.85);
  border-color: black;
  border-width: 10px;
  width: 500px;
  height: 500px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: justify;
  padding-left: 90px;
  font-weight: bold; 
}
#box img {
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}



html {
  scroll-behavior: none;
}
